@import url('https://fonts.googleapis.com/css?family=Nixie+One&display=swap');

.background{
    background-color: #f6f8f9;
}

h1{
    font-size: 40px;
    font-family: 'Nixie One', cursive;
}
h2{
    font-family: 'Nixie One', cursive;
}
.top{
    height: 80px;
}

.bg-white{
    background-color: white;
}

.hr-margin{
    margin-left: 110px;
}

.pd-20{
    padding: 20px;
}

.bg-darkgrey{
    background-color: darkgray;
}

.w-70{
    width: 70vw;
}

.mg-top-10{
    margin-top: 10px;
}

.txt-10{
    font-size: 10px;
}

.quote{
    font-size: 20px;
    font-weight: bold;
}
.text-left{
    text-align: left;
}
.hr-margin-l{
    margin-left: 8.5vw;
}
.h-20{
    height: 20px;
}
.w-25{
    width: 1000px;
}
.btn-txt-size{
    font-size: 20px;
}
.btn-h{
    height: 3vw;
}