@import url('https://fonts.googleapis.com/css?family=Aladin');


#container{
    font-family: aladin;
}

body{
    background-color: black;
}

#title{
    color: white;
    text-align: center
}

#text{
    text-align: center;
    color: white;
    font-size: 40px
}
p{
    color:white;
}


#background{
    background-image: url('/sainsh/images/saisjo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
}
.characters{
    font-size:25px;
    display: inline;
    max-width: 40%;
}
.world{
    font-size: 40px;
}
.portfolio{
    text-align: justify;
    font-size: 30px;
}
input{
    width: 10vw;
    border-radius: 2vw;
    text-align: center;
}
.top{
    height: 10vh;
}

#res{
    text-align: right;
}
.right{
    float:right;
}