@import url('https://fonts.googleapis.com/css?family=Aladin');


#container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header" 
        "nav nav nav nav"
        "main main sidebar sidebar"
        "footer footer footer footer";
    font-family: aladin;
}

body{
    background-color: black;
}

nav{
    grid-area: nav;
    text-align: center;
}

.nav{
    font-size: 40px;
    display: inline;
    margin: 10px;
    
}

#title{
    grid-area: header;
    text-align: center;
    color: white;
}

#text{
    text-align: center;
    color: white;
    grid-area: main;
}
p{
    color:white;
    font-size: 30px;
}


#background{
    background-image: url('images/saisjo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    grid-column: 1/5;
    grid-row: 1/4;
    margin-top: -10px
}
a{
    color: white;
}
a:hover{
    background: gray;
}
a:visited{
    color: lightgray; 
}

.world{
    grid-area: main;
    max-width: 40%;
}

.characters{
    grid-area: sidebar;
    max-width: 40%;
}
