@import url('https://fonts.googleapis.com/css?family=Aladin');

button {
    float: left;
    width: 100px;
    height: 20px;

}
body{
    background-color: black;
}

nav{
    grid-row: 2;
    grid-column: 3;
    text-align: center;
}

li{
    font-size: 40px;
    display: inline;
    margin: 10px;
    
}

#title{
    grid-row: 1;
    grid-column: 3;
    text-align: center;
    color: white;
}

#text{
    text-align: center;
    color: white;
    grid-row: 3;
    grid-column: 3;
}

#container{
    display: grid;
    grid-template-columns: 10% 10% 60% 10% 10%;
    grid-template-rows: 50px 1000px 400px;
    font-family: aladin;
}

#background{
    background-image: url('images/saisjo.jpg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: 50%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: -10px
}
a{
    color: white;
    
}
